<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--根标签（无实际语义，注：子标签有顺序要求）
顺序：【properties?,settings?,
typeAliases?,typeHandlers?,
objectFactory?,objectWrapperFactory?,
reflectorFactory?,plugins?,environments?,databaseIdProvider?,mappers?】
-->
<configuration>
    <!--properties: 用于定义或引入外部文件（resource读取类路径下属性文件，url读取指定文件路径，例如D:/xxx）-->
    <properties resource="db.properties"/>

    <!-- settings: MyBatis 中极为重要的调整设置，它们会改变 MyBatis 的运行时行为
        文档: https://mybatis.org/mybatis-3/zh/configuration.html#setting -->
    <settings>
        <!--开启驼峰命名自动映射，即从经典数据库列名 A_COLUMN 映射到经典 Java 属性名 aColumn（默认false）-->
        <!-- 说人话就是SQL不用写别名了 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- typeAliases: 类型别名可为 Java 类型设置一个缩写名字（仅用于 XML 配置，意在降低冗余的全限定类名书写） -->
    <typeAliases>
        <!-- 指定包下所有类定义别名（默认类名就是别名，同样不区分大小写【建议小写】） -->
        <package name="com.sola.pojo"/>
    </typeAliases>

    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 使用下面的方式配置参数，后面会有所有的参数介绍（官方文档） -->
            <!-- <property name="param1" value="value1"/> -->
        </plugin>
    </plugins>

    <!-- environments: 设置数据库连接环境（可以设置多个，例如生产、测试环境） -->
    <environments default="development">
        <environment id="development">
            <!-- 事务管理器 -->
            <transactionManager type="JDBC"/>
            <!-- 设置数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- mappers: 映射器，告诉 MyBatis 到哪里去找映射文件 -->
    <mappers>
        <!-- 1. 使用相对于类路径的资源引用（常用且推荐） -->
        <mapper resource="mapper/SchoolClassMapper.xml"/>
        <mapper resource="mapper/StudentMapper.xml"/>
        <!--
        2. 将包内的映射器接口全部注册为映射器（此方法需要接口与映射文件的全包名一致，常见于老项目，现在不推荐）
        <package name="org.mybatis.builder"/>
        【下面两种都不常用且不推荐】
        3. 使用完全限定资源定位符（URL）
        <mapper url="file:///var/mappers/BlogMapper.xml"/>
        4. 使用映射器接口实现类的完全限定类名
        <mapper class="org.mybatis.builder.BlogMapper"/>
         -->
    </mappers>

</configuration>